$footer-headers-text-color: white;
$footer-text-color: lightgray;

footer {
  color: $footer-text-color;
  padding: 20px 50px 50px 50px;
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 4fr;
  background-color: #222222;
}

.footer-column {
  padding: 20px;
  display: flex;
  flex-direction: column;

  &-header {
    margin: 10px;
    color: $footer-headers-text-color;
  }

  &-icons {
    padding: 15px;
    display: flex;
    justify-content: center;
    &-social {
      margin-left: 10px;
      width: 48px;
      height: 48px;

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
  &-item {
    padding-left: 20px;
    display: flex;
    min-height: 60px;

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-text {
        margin-left: 10px;
      }
    }

    &-calendar {
      min-width: 48px;
      height: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: $footer-text-color solid 1px;
      text-align: center;
      align-self: center;
    }

    &-logo {
      align-self: center;
      padding: 5px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    &-description-header {
      color: $footer-headers-text-color;
    }
  }
}