.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: $nav-height;
    height: $nav-height;
    padding: 25px;
    &-item {
      flex-basis: 5px;
      background-color: $color-hamburger;
    }
  }
}